:root {
    --rosa-claro: #DEBBBB;
    --verde-claro: #FFFFF9;
    --vermelho: #E48E8E;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--verde-claro);

    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 400px;
}

main h1 {
    font-weight: 600;
    font-size: 0.938rem;

    border-bottom: 3px solid var(--rosa-claro);
    padding-bottom: 8px;
}

.logar-google a {
    text-decoration: none;

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 15px;

    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    color: white;

    font-size: 14px;
    font-weight: 300;
}